main {
    height: 100vh;
  
    .hero-section {
      position: relative;
      height: 100%;
      width: 100%;
      overflow: hidden; 
  
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url('../../../assets/banner.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: blur(1px);
        z-index: 0;
      }
  
      .banner {
        z-index: 2; 
        height: 100%;
        width: 100%;
  
        app-navbar {
          position: relative;
          z-index: 3;
        }
  
        .banner-title {
          position: relative;
          z-index: 3; 
          height: 55%;
          display: flex;
          flex-direction: column;
          gap: 30px;
          align-items: center;
          justify-content: center;
  
          h1 {
            color: #fff;
            font-size: 3rem;
            text-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
            letter-spacing: 0.2rem;
          }

          button{
            padding: 20px 60px;
            font-size: 1rem;
            letter-spacing: 0.1rem;
            cursor: pointer;
            border: none;
            color: #fff;
            font-weight: bold;
            border: 1px solid #fff;
            border-radius: 50px;
            background-color: transparent;
            transition: all 0.8s;

            &:hover{
                background-color: white;
                color: black;
                
            }
          }
        }
      }
    }
  }